.bisection-container {
    max-width: 1300px;
    margin-left: 250px;
    padding: 2rem 1rem;
    color: #000000;
}

.code-line {
  margin-left: 40px;
  font-family: 'Fira Code', monospace;
  white-space: pre; /* preserves spaces */
  margin: 0.05;        /* remove extra paragraph spacing */
}

.bisection-section h1 {
    font-size: 35px;

}
    
.bisection-section h2 {
    font-size: 30px;
}

.bisection-section h3 {
    font-size: 25px;
}

.bisection-section p, .bisection-section ul, .bisection-section li, .bisection-section ol {
    font-size: 20px;
}

.figure-img {
  height: 350px;
  width: auto;
  margin-left: 70px;
}

figcaption {
  margin-left: 70px;
}

.highlight-math {
  background-color: #fff3cd; /* light yellow */
  padding: 6px 12px;
  border-radius: 6px;
  display: inline-block;
  font-weight: bold;
}